# オープンデータ・経済統計・公的統計

## 経済統計と公的統計とは

[統計法](https://www.soumu.go.jp/toukei_toukatsu/index/seido/1-1n.htm)

## 世界の公的機関とオープンデータ

### 国際連合のデータ

- [国際連合](https://www.un.org/en/)
- [国際連合 加盟国一覧](https://www.unic.or.jp/info/un/un_organization/member_nations/)
- [国際連合 専門機関および関連機関](https://www.unic.or.jp/info/un/unsystem/specialized_agencies/)
- [UNdata](http://data.un.org/Default.aspx)
- [国連経済社会局人口部](https://www.un.org/development/desa/pd/)
- [World Population Prospects](https://population.un.org/wpp/)
- [World Population Prospects Download Files](https://population.un.org/wpp/downloads)

### Data CommonsとUN Data Commons for the SDGs

- [Data Commons](https://datacommons.org/)
- [Data Commons API](https://docs.datacommons.org/api/)
- [UN Data Commons for the SDGs](https://unstats.un.org/UNSDWebsite/undatacommons/sdgs)

### 世界銀行のデータ

- [世界銀行](https://www.worldbank.org/)
- [World Bank Open Data](https://data.worldbank.org/)
- [DataBank](https://databank.worldbank.org/)
- [World Bank Data Catalog](https://datacatalog.worldbank.org/)
- [World Bank API](https://datahelpdesk.worldbank.org/knowledgebase/topics/125589-developer-information)

### 国際通貨基金（I MF）のデータ

- [国際通貨基金](https://www.imf.org/ja/Home)
- [IMF DATA](https://www.imf.org/en/Data)

### 世界保健機関（WHO）のデータ

- [世界保健機関](https://www.who.int/)
- [data.who.int](https://data.who.int/)
- [WHO のData ページ](https://www.who.int/data)
- [COVID-19 のダッシュボード](https://covid19.who.int/)

### 世界貿易機関（WTO）のデータ

- [世界貿易機関](https://www.wto.org/)
- [WTO Data](https://data.wto.org/en)
- [WTO Stats ポータルサイト](https://stats.wto.org/)

### 経済協力開発機構（OECD）のデータ

- [経済協力開発機構](https://www.oecd.org/)
- [OECD Data](https://data.oecd.org/)

### 欧州連合（EU）のEurostat

- [欧州連合](https://european-union.europa.eu/index_en)
- [Eurostat](https://ec.europa.eu/eurostat)
- [Eurostat のDataサイト](https://ec.europa.eu/eurostat/web/main/data)

### 米国統計局のデータ

- [商務省](https://www.commerce.gov/)
- [国勢調査局](https://www.census.gov/)
- [経済分析局](https://www.bea.gov/)
- [USCB API](https://www.census.gov/data.html)
- [BEA API](https://www.bea.gov/tools)
- [Commerce Data Hub](https://data.commerce.gov/)
- [労働統計局](https://www.bls.gov/)
- [BLS Public Data API](https://www.bls.gov/developers/home.htm)

### 米国FRBのFRED

- [連邦準備制度理事会](https://www.federalreserve.gov/)
- [セントルイス連邦準備銀行](https://www.stlouisfed.org/)
- [FRED](https://fred.stlouisfed.org/)

## 日本の公的機関とオープンデータ

### 政府統計の総合窓口e-Stat

- [政府統計の総合窓口e-Stat](https://www.e-stat.go.jp/)
- [総務省統計局](https://www.stat.go.jp/)

### 金融・市場データ

- [日本銀行の時系列統計データ検索サイト](https://www.stat-search.boj.or.jp/index.html)
- [EDINET](https://disclosure2.edinet-fsa.go.jp/WEEK0010.aspx)
- [J-Quants](https://jpx-jquants.com/)
- [投信総合検索ライブラリー](https://toushin-lib.fwg.ne.jp/FdsWeb/)

### 法人・産業データ

- [法人番号公表サイト](https://www.houjin-bangou.nta.go.jp/)
- [EDINET](https://disclosure2.edinet-fsa.go.jp/weee0010.aspx)
- [日本年金機構](https://www.nenkin.go.jp/index.html)
- [厚生年金保険・健康保険適用事業所検索システム](https://www2.nenkin.go.jp/do/search_section/)
- [gBizINFO](https://info.gbiz.go.jp/)
- [gBizINFO の出典元](https://info.gbiz.go.jp/resource/index.html)
- [gBizINFO API](https://info.gbiz.go.jp/api/index.html)

### 地理・気象データ

- [国土交通省](https://www.mlit.go.jp/)
- [国土数値情報ダウンロードサイト](https://nlftp.mlit.go.jp/)
- [国土交通省のGIS](https://nlftp.mlit.go.jp/kokjo/inspect/landclassification/download.html)
- [e-Stat GIS](https://www.e-stat.go.jp/gis)
- [不動産情報ライブラリ](https://www.reinfolib.mlit.go.jp/)
- [不動産情報ライブラリ API](https://www.reinfolib.mlit.go.jp/help/apiManual/)
- [国土地理院](https://www.gsi.go.jp/)
- [地理院地図](https://maps.gsi.go.jp/)
- [国土地理院 GitHub アカウント](https://github.com/gsi-cyberjapan)
- [地理院地図 GitHub リポジトリ](https://github.com/gsi-cyberjapan/gsimaps)
- [東京大学空間情報科学研究センター](https://www.csis.u-tokyo.ac.jp/)
- [シンプルジオコーディング](https://geocode.csis.u-tokyo.ac.jp/home/simple-geocoding/)
- [地理院地図とシンプルジオコーディング](https://github.com/gsi-cyberjapan/gsimaps/issues/29)
- [気象庁](https://www.jma.go.jp/jma/index.html)
- [気象庁の数値データページへのリンク集](https://www.jma.go.jp/jma/menu/arcdata.html)
- [郵便番号・デジタルアドレスAPI](https://guide-biz.da.pf.japanpost.jp/api/)

### 地方のデータとRESAS

- [地域経済分析システムRESAS](https://resas.go.jp/)
- [東京都オープンデータカタログサイト](https://portal.data.metro.tokyo.lg.jp/)
- [e-Govポータル データベースサイト一覧](https://data.e-gov.go.jp/info/databasesite)

### デジタル庁のe-GovポータルとJapan Dashboard

- [e-Gov ポータル](https://www.e-gov.go.jp/)
- [デジタル庁](https://www.digital.go.jp/)
- [e-Gov ポータル 統計に関するページ](https://www.e-gov.go.jp/about-government/statistics.html)
- [Japan Dashboard](https://www.digital.go.jp/resources/japandashboard)

## 日本の公的統計とe-Stat

### e-Statとは

- [政府統計の総合窓口 e-Stat](https://www.e-stat.go.jp/)
- [総務省統計局](https://www.stat.go.jp/)
- [独立行政法人統計センター](https://www.nstac.go.jp/)
- [利用ガイドのページ](https://www.e-stat.go.jp/usageguide)
- [統計ダッシュボード](https://dashboard.e-stat.go.jp/)
- [ユーザ登録](https://www.e-stat.go.jp/mypage/user/preregister/)

### e-Stat API機能

- [e-Stat API機能](https://www.e-stat.go.jp/api/)

### e-Stat API登録とアプリケーションID取得

- [政府統計の総合窓口(e-Stat)API 機能利用規約](https://www.e-stat.go.jp/api/terms-of-use)
- [マイページへのログイン画面](https://www.e-stat.go.jp/mypage/login)

### e-Stat APIをPythonで利用する

In [1]:
from urllib.parse import urljoin
import requests
import pandas as pd

In [2]:
import os
from dotenv import load_dotenv
load_dotenv()
appId = os.getenv("ESTAT_APP_ID")
version = "3.0"
base_url = f"https://api.e-stat.go.jp/rest/{version}/"

print(base_url)

https://api.e-stat.go.jp/rest/3.0/

In [3]:
# APIキーの動作確認
import requests # まだインポートしていなければ

# 1. そもそも .env から appId が読み込めているか？
if appId:
    print(f"1. .env読み込み: 成功 (先頭: {appId[:5]}...)")
else:
    print("1. .env読み込み: 失敗 (変数が空です。 .env ファイルの変数名が ESTAT_APP_ID になっているか確認してください)")

# 2. 実際に e-Stat API を叩いて認証を確認する
test_url = f"{base_url}app/json/getStatsList"  # さきほどの base_url を活用
test_params = {
    "appId": appId,
    "statsCode": "00200521" # 家計調査のテスト用コード
}

try:
    res = requests.get(test_url, params=test_params)
    data = res.json()
    
    # e-Statからのレスポンス内にあるステータスを確認
    # JSONの階層が深いので get() で安全に取得します
    status = data.get("GET_STATS_LIST", {}).get("RESULT", {}).get("STATUS")

    if status == 0:
        print("2. 認証確認: 成功！(正しく通信できています)")
    else:
        error_msg = data.get("GET_STATS_LIST", {}).get("RESULT", {}).get("ERROR_MSG")
        print(f"2. 認証確認: 失敗 (エラー: {error_msg})")
        
except Exception as e:
    print(f"2. 認証確認: 通信エラーが発生しました ({e})")

1. .env読み込み: 成功 (先頭: 6e87c...)
2. 認証確認: 成功！(正しく通信できています)

#### 統計表情報を取得する

In [4]:
statslist_endpoint = "app/json/getStatsList"
statslist_url = urljoin(base_url, statslist_endpoint)
statslist_params = {"appId": appId, "surveyYears": 2020, "limit":100}
statslist_res = requests.get(statslist_url, params=statslist_params)
statslist_out = statslist_res.json()

In [5]:
statslist_out.keys()

dict_keys(['GET_STATS_LIST'])

In [6]:
statslist_out["GET_STATS_LIST"].keys()

dict_keys(['RESULT', 'PARAMETER', 'DATALIST_INF'])

In [7]:
statslist_out["GET_STATS_LIST"]["DATALIST_INF"].keys()

dict_keys(['NUMBER', 'RESULT_INF', 'TABLE_INF'])

In [8]:
# 1. pd.json_normalize: 
# ネストされた（入れ子になった）JSONデータを、平らな表に展開する関数
table_inf = pd.json_normalize(
    statslist_out,                       # 変換したい元のデータ(JSON)
    # record_path: 
    # 「表の1行1行」にしたいデータはどこにあるか？という具体的な「住所」を指定
    # ここでは「統計リスト > データ情報 > 統計表情報」と辿っています
    record_path=["GET_STATS_LIST", "DATALIST_INF", "TABLE_INF"], 
    # sep="_":
    # 階層構造だった項目名をつなげる時の記号を指定（例: "PARENT"の中の"CHILD"なら "PARENT_CHILD"）
    sep="_"
)

# 2. 変換後の表の「列名（ヘッダー）」を一覧表示して、どんなデータが取れたか確認する
table_inf.columns

Index(['@id', 'STATISTICS_NAME', 'CYCLE', 'SURVEY_DATE', 'OPEN_DATE',
       'SMALL_AREA', 'COLLECT_AREA', 'OVERALL_TOTAL_NUMBER', 'UPDATED_DATE',
       'DESCRIPTION', 'STAT_NAME_@code', 'STAT_NAME_$', 'GOV_ORG_@code',
       'GOV_ORG_$', 'TITLE_@no', 'TITLE_$', 'MAIN_CATEGORY_@code',
       'MAIN_CATEGORY_$', 'SUB_CATEGORY_@code', 'SUB_CATEGORY_$',
       'STATISTICS_NAME_SPEC_TABULATION_CATEGORY',
       'STATISTICS_NAME_SPEC_TABULATION_SUB_CATEGORY1',
       'STATISTICS_NAME_SPEC_TABULATION_SUB_CATEGORY2',
       'STATISTICS_NAME_SPEC_TABULATION_SUB_CATEGORY3',
       'TITLE_SPEC_TABLE_CATEGORY', 'TITLE_SPEC_TABLE_NAME',
       'TITLE_SPEC_TABLE_EXPLANATION'],
      dtype='object')

#### なぜこのコードが重要なのか？
前の章（第5章）では、`json_data["GET_STATS"]["..."]` と手書きで深い階層を一つずつ辿っていましたよね。あのやり方だと、データが100項目あっても1つずつ取り出すコードを書く必要があります。

しかし、この `pd.json_normalize` を使うと：

1. 一気通貫: 指定した住所（record_path）にある大量のデータを、一気に「行」に変えてくれます。
2. 自動ラベル付け: `record_path` よりさらに深い階層にあるデータも、`sep="_"` を使って自動的にわかりやすい列名（例：`STAT_NAME_$` など）を作ってくれます。

In [52]:
table_inf[["@id", "TITLE_SPEC_TABLE_NAME", "TITLE_$", "OVERALL_TOTAL_NUMBER"]].head()

,@id,TITLE_SPEC_TABLE_NAME,TITLE_$,OVERALL_TOTAL_NUMBER
0,0004014855,6(1).一般政府の部門別勘定,5.付表 6(1).一般政府の部門別勘定,8424
1,0004014897,6(2).一般政府の部門別勘定(GFS) 年度,5.付表 6(2).一般政府の部門別勘定(GFS) 年度,32265
2,0004014898,7.一般政府の機能別支出(COFOG) 年度,5.付表 7.一般政府の機能別支出(COFOG) 年度,11520
3,0004014899,8.一般政府の機能別最終消費支出(COFOG) 年度,5.付表 8.一般政府の機能別最終消費支出(COFOG) 年度,12800
4,0004014900,9.一般政府から家計への移転の明細表(社会保障関係),5.付表 9.一般政府から家計への移転の明細表(社会保障関係),2835

https://www.e-stat.go.jp/api/api-dev/faq#q_5_7

#### メタ情報を取得する

In [53]:
# 家計調査のメタデータを取得
statsDataId = "0002070010"
meta_endpoint = "app/json/getMetaInfo"
meta_url = urljoin(base_url, meta_endpoint)
meta_params = {"appId": appId, "statsDataId": statsDataId}
meta_res = requests.get(meta_url, params=meta_params)
meta = meta_res.json()
meta["GET_META_INFO"]["METADATA_INF"]["TABLE_INF"].keys()

dict_keys(['@id', 'STAT_NAME', 'GOV_ORG', 'STATISTICS_NAME', 'TITLE', 'CYCLE', 'SURVEY_DATE', 'OPEN_DATE', 'SMALL_AREA', 'COLLECT_AREA', 'MAIN_CATEGORY', 'SUB_CATEGORY', 'OVERALL_TOTAL_NUMBER', 'UPDATED_DATE', 'STATISTICS_NAME_SPEC', 'DESCRIPTION', 'TITLE_SPEC'])

In [54]:
meta.keys()

dict_keys(['GET_META_INFO'])

In [55]:
meta["GET_META_INFO"].keys()

dict_keys(['RESULT', 'PARAMETER', 'METADATA_INF'])

In [56]:
meta["GET_META_INFO"]["METADATA_INF"].keys()

dict_keys(['TABLE_INF', 'CLASS_INF'])

In [57]:
meta["GET_META_INFO"]["METADATA_INF"]["CLASS_INF"].keys()

dict_keys(['CLASS_OBJ'])

In [58]:
meta["GET_META_INFO"]["METADATA_INF"]["CLASS_INF"]["CLASS_OBJ"][0].keys()

dict_keys(['@id', '@name', 'CLASS'])

In [59]:
metadata = meta["GET_META_INFO"]["METADATA_INF"] #METADATA_INFの下に、TABLE_INFとCLASS_INFがある。あとでCLASS_INFを使うときに便利なように、いったんmetadateに入れる。
overall_total_number = metadata["TABLE_INF"]["OVERALL_TOTAL_NUMBER"]
overall_total_number

3916136

In [60]:
[[n, c["@id"], c["@name"]] for n, c in enumerate(metadata["CLASS_INF"]["CLASS_OBJ"])]

[[0, 'tab', '表章項目'],
 [1, 'cat01', '用途分類'],
 [2, 'cat02', '世帯区分'],
 [3, 'cat03', '世帯主の年齢階級'],
 [4, 'area', '地域区分'],
 [5, 'time', '時間軸（月次）']]

In [61]:
metadata["CLASS_INF"]["CLASS_OBJ"][0]["CLASS"]

{'@code': '01', '@name': '金額', '@level': ''}

In [62]:
pd.DataFrame(metadata["CLASS_INF"]["CLASS_OBJ"][1]["CLASS"]).iloc[15:25, :]
# iloc[15:25, :] は15行目～24行目の全ての列（":"）を取り出す

   @code      @name @level @unit @parentCode
15   017  農林漁家世帯の割合      1     ％         NaN
16   018         受取      1     円         NaN
17   019        実収入      2     円         018
18   020       経常収入      3     円         019
19   021      勤め先収入      4     円         020
20   022      世帯主収入      5     円         021
21   023   世帯主収入（男）      7     円         022
22   024       定期収入      6     円         022
23   267    臨時収入・賞与      6     円         022
24   025       臨時収入      7     円         267

見出しに出ている `@code` などの `@` は属性データを表す目印

In [63]:
# json形式で見てみる
import json

# 表示対象を取り出す
target_data = metadata["CLASS_INF"]["CLASS_OBJ"][1]["CLASS"][15:18]

# indent=4 を付けることで、マトリョーシカ構造が見やすくなります
# ensure_ascii=False は日本語を文字化けさせないためのおまじないです
print(json.dumps(target_data, indent=4, ensure_ascii=False))

[
    {
        "@code": "017",
        "@name": "農林漁家世帯の割合",
        "@level": "1",
        "@unit": "％"
    },
    {
        "@code": "018",
        "@name": "受取",
        "@level": "1",
        "@unit": "円"
    },
    {
        "@code": "019",
        "@name": "実収入",
        "@level": "2",
        "@unit": "円",
        "@parentCode": "018"
    }
]

In [64]:
pd.DataFrame(metadata["CLASS_INF"]["CLASS_OBJ"][2]["CLASS"])

  @code                                          @name @level
0    03                                二人以上の世帯（2000年～）      1
1    04                        二人以上の世帯のうち勤労者世帯（2000年～）      1
2    01          二人以上の世帯（農林漁家世帯を除く）（1985年～2007年,2017年）      1
3    02  二人以上の世帯のうち勤労者世帯（農林漁家世帯を除く）（1985年～2007年,2017年）      1

In [65]:
pd.DataFrame(metadata["CLASS_INF"]["CLASS_OBJ"][3]["CLASS"]).head()

  @code   @name @level
0   A00      平均      1
1   425   24歳以下      1
2   435   34歳以下      1
3   205  25～29歳      1
4   206  30～34歳      1

In [66]:
metadata["CLASS_INF"]["CLASS_OBJ"][4]["CLASS"]

{'@code': '00000', '@name': '全国', '@level': '1'}

In [67]:
pd.DataFrame(metadata["CLASS_INF"]["CLASS_OBJ"][5]["CLASS"]).head()

        @code    @name @level
0  1985000101  1985年1月      1
1  1985000202  1985年2月      1
2  1985000303  1985年3月      1
3  1985000404  1985年4月      1
4  1985000505  1985年5月      1

#### 統計データを取得する

In [68]:
statsDataId = "0002070010"
data_params = {
    "appId": appId, 
    "statsDataId": statsDataId,
    "lvCat01": "4",  # 用途分類を階層4で絞る
    "cdCat02": "04",  # 世帯区分を二人以上の世帯のうち勤労者世帯（2000年～）で絞る
    "cdCat03": "A00",  # 世帯主の年齢階級を平均で絞る
    "cdTimeFrom": "2020000101",  # 2020年1月以降で絞る
    "cdTimeTo": "2022001212",  #  2022年12月以前で絞る
}

# data_paramsは「データの注文書」となる。この形にしておくと、あとで期間を変えて取得したい時でも簡単に変更できる。

appId APIキー
statsDataId この場合は家計調査

#### 「接頭辞（頭の文字）」のルール
これらはAPIの仕様書で「こういう条件で絞り込みたい時は、こう名乗ってね」と決まっています。

- `cd` (Codeの略): 「〜のコード番号で絞り込む」という意味（例: `cdCat02`）
- `lv` (Levelの略): 「階層の深さで絞り込む」という意味（例: `lvCat01`）
- `Cat01`, `Cat02`...: これは、さきほど内包表記で確認した 「分類項目の番号」 です。

#### 例：lvCat01": "4"
1. どこから？: 前のステップの `enumerate` の結果で、0番目が「表章項目(tab)」、1番目が「用途分類(cat01)」 だと分かりましたね。
2. 意味: 「1番目の分類（用途分類：Cat01）について、階層（lv）が 4（最も細かい内訳） のデータだけをください」という注文です。

#### 例：cdCat02": "04"
1. どこから？: `metadata["CLASS_INF"]["CLASS_OBJ"][2]["CLASS"]`（2番目の分類＝世帯区分のリスト）を表示させると、その中に コード "04"、名前 "勤労者世帯" という項目が見つかります。
2. 意味: 「2番目の分類（世帯区分：Cat02）は、コード（cd）が 04番 のデータだけをください」という注文です。

##### CSVで取得する

In [ ]:
from io import StringIO # これは 「文字列を、あたかも『ファイル』であるかのように扱うための魔法の道具」 です。
csv_data_endpoint = "app/getSimpleStatsData"
csv_data_url = urljoin(base_url, csv_data_endpoint)
csv_data_res = requests.get(csv_data_url, params=data_params) # <- ここで上で決めた注文書（data_params）を渡している
print(csv_data_res.text[:1000])

"RESULT"
"STATUS","0"
"ERROR_MSG","正常に終了しました。"
"DATE","2026-01-27T16:32:08.220+09:00"
"RESULT_INF"
"TOTAL_NUMBER","1188"
"FROM_NUMBER","1"
"TO_NUMBER","1188"
"TABLE_INF","0002070010"
"STAT_NAME","00200561","家計調査"
"GOV_ORG","00200","総務省"
"STATISTICS_NAME","家計調査 家計収支編 二人以上の世帯"
"TITLE","005","用途分類 用途分類（世帯主の年齢階級別）"
"CYCLE","月次"
"SURVEY_DATE","0"
"OPEN_DATE","2026-01-09"
"SMALL_AREA","0"
"COLLECT_AREA","該当なし"
"MAIN_CATEGORY","07","企業・家計・経済"
"SUB_CATEGORY","04","家計"
"OVERALL_TOTAL_NUMBER","3916136"
"UPDATED_DATE","2026-01-09"
"STATISTICS_NAME_SPEC","家計調査","家計収支編","二人以上の世帯","","",""
"TITLE_SPEC","用途分類","用途分類（世帯主の年齢階級別）","","","",""
"NOTE","***","調査又は集計していないもの"
"NOTE","-","該当数字がないもの"
"NOTE","X","数値が秘匿されているもの"
"VALUE"
"tab_code","表章項目","cat01_code","用途分類","cat02_code","世帯区分","cat03_code","世帯主の年齢階級","area_code","地域区分","time_code","時間軸（月次）","unit","value","annotation"
"01","金額","021","勤め先収入","04","二人以上の世帯のうち勤労者世帯（2000年～）","A00","平均","00000","全国","2020000101","2020年1月","円","458814",""
"01","金額","0

In [ ]:
# StringIO を使うことで、「今届いた文字列を、仮想的なファイルとしてPandasに読み込ませる」 というテクニックを使います
pd.read_csv(StringIO(csv_data_res.text), skiprows=28).head()

,tab_code,表章項目,cat01_code,用途分類,cat02_code,世帯区分,cat03_code,世帯主の年齢階級,area_code,地域区分,time_code,時間軸（月次）,unit,value,annotation
0,1,金額,21,勤め先収入,4,二人以上の世帯のうち勤労者世帯（2000年～）,A00,平均,0,全国,2020000101,2020年1月,円,458814.0,NaN
1,1,金額,21,勤め先収入,4,二人以上の世帯のうち勤労者世帯（2000年～）,A00,平均,0,全国,2020000202,2020年2月,円,450451.0,NaN
2,1,金額,21,勤め先収入,4,二人以上の世帯のうち勤労者世帯（2000年～）,A00,平均,0,全国,2020000303,2020年3月,円,467521.0,NaN
3,1,金額,21,勤め先収入,4,二人以上の世帯のうち勤労者世帯（2000年～）,A00,平均,0,全国,2020000404,2020年4月,円,458774.0,NaN
4,1,金額,21,勤め先収入,4,二人以上の世帯のうち勤労者世帯（2000年～）,A00,平均,0,全国,2020000505,2020年5月,円,451416.0,NaN

In [70]:
# 最初の[1]で2分割したリストの2つ目を指定し、[1:]で冒頭の改行\nを除く
pd.read_csv(StringIO(csv_data_res.text.split('"VALUE"')[1][1:])).head()

,tab_code,表章項目,cat01_code,用途分類,cat02_code,世帯区分,cat03_code,世帯主の年齢階級,area_code,地域区分,time_code,時間軸（月次）,unit,value,annotation
0,1,金額,21,勤め先収入,4,二人以上の世帯のうち勤労者世帯（2000年～）,A00,平均,0,全国,2020000101,2020年1月,円,458814.0,NaN
1,1,金額,21,勤め先収入,4,二人以上の世帯のうち勤労者世帯（2000年～）,A00,平均,0,全国,2020000202,2020年2月,円,450451.0,NaN
2,1,金額,21,勤め先収入,4,二人以上の世帯のうち勤労者世帯（2000年～）,A00,平均,0,全国,2020000303,2020年3月,円,467521.0,NaN
3,1,金額,21,勤め先収入,4,二人以上の世帯のうち勤労者世帯（2000年～）,A00,平均,0,全国,2020000404,2020年4月,円,458774.0,NaN
4,1,金額,21,勤め先収入,4,二人以上の世帯のうち勤労者世帯（2000年～）,A00,平均,0,全国,2020000505,2020年5月,円,451416.0,NaN

##### JSONで取得する

In [ ]:
data_endpoint = "app/json/getStatsData"
data_url = urljoin(base_url, data_endpoint)
data_res = requests.get(data_url, params=data_params) #上の注文書 data_params にもとづいてリクエスト
data = data_res.json()

In [72]:
data.keys()

dict_keys(['GET_STATS_DATA'])

In [73]:
data["GET_STATS_DATA"].keys()

dict_keys(['RESULT', 'PARAMETER', 'STATISTICAL_DATA'])

In [74]:
data["GET_STATS_DATA"]["STATISTICAL_DATA"].keys()

dict_keys(['RESULT_INF', 'TABLE_INF', 'CLASS_INF', 'DATA_INF'])

In [75]:
data["GET_STATS_DATA"]["STATISTICAL_DATA"]["CLASS_INF"].keys()

dict_keys(['CLASS_OBJ'])

In [76]:
data["GET_STATS_DATA"]["STATISTICAL_DATA"]["CLASS_INF"]["CLASS_OBJ"][0].keys()

dict_keys(['@id', '@name', 'CLASS'])

In [77]:
data["GET_STATS_DATA"]["STATISTICAL_DATA"]["DATA_INF"].keys()

dict_keys(['NOTE', 'VALUE'])

In [81]:
value_df = pd.json_normalize(data, 
    record_path=["GET_STATS_DATA", "STATISTICAL_DATA", "DATA_INF", "VALUE"]
)
value_df.head()

  @tab @cat01 @cat02 @cat03  @area       @time @unit       $
0   01    021     04    A00  00000  2020000101     円  458814
1   01    021     04    A00  00000  2020000202     円  450451
2   01    021     04    A00  00000  2020000303     円  467521
3   01    021     04    A00  00000  2020000404     円  458774
4   01    021     04    A00  00000  2020000505     円  451416

In [87]:
value_df = value_df.rename(
    columns=lambda col: col.lstrip("@").replace("$", "value")   # lstripで @ を除去し、replaceで $ を value に置き換えている
)

In [88]:
note = data["GET_STATS_DATA"]["STATISTICAL_DATA"]["DATA_INF"]["NOTE"]
note

[{'@char': '***', '$': '調査又は集計していないもの'},
 {'@char': '-', '$': '該当数字がないもの'},
 {'@char': 'X', '$': '数値が秘匿されているもの'}]

出力に `{'@char': '***', '$': '調査又は集計していないもの'}` などとあるが、 pythonの辞書はカンマで区切れば1つの `{ }` の中にいくつでもペアを入れることができる

In [89]:
import numpy as np

# 1. 【リスト内包表記】
# noteから注釈記号（@char）だけを抜き出してリスト化する
# 普通のforループを1行にまとめた「リストの量産」命令
# note_char = ["-", "***", ...] のようになる
note_char = [n["@char"] for n in note]

# 2. 【assign ＋ lambda式】
# データフレームに列を追加・更新する。
# lambda df: ... は「現在のデータフレームを df として受け取って加工する」という、その場限りの使い捨て関数
value_df = value_df.assign(**{
    "value": lambda df: df["value"]
        # 数字以外の記号（注釈）を、計算可能な「欠損値(NaN)」に置き換える
        .replace(note_char, np.nan)
        # 列全体を、計算ができるように「文字列(str)」から「実数(float)」に変換する
        .astype(float)
})


# forループの普通の書き方（やってることは全く同じ）
# note_char = []           # 1. まず空のリストを用意する
# for n in note:           # 2. noteの中身を1つずつ取り出すループを回す
#     item = n["@char"]    # 3. その中から "@char" という値だけ抜き出す
#     note_char.append(item) # 4. 用意したリストに付け加える

assign と lambda の組み合わせは、Pandasの中でも特に「慣れるまでが大変な、でも分かると便利な」書き方です。

それぞれの役割を、さらに細かく分解して解説します。

---

1. assign の書き方の意味

`value_df = value_df.assign( 新しい列名 = 加工内容 )` というのが基本形です。

##### 謎の記号 `**{ }` は何？

このコードでは `**{"value": ...}`という少し特殊な書き方をしています。

- 本来なら `assign(value = lambda ...)` と書けばいいのですが、たまに列名に「@」などの記号が含まれていると、Pythonの文法エラー（変数名として使えない）になってしまいます。
- そこで、「辞書型で作った設定を、無理やり割り当てる」 ための呪文として **{ } が使われています。今回の場合、`value` は普通の名前なので、単に `assign(value = ...)` と書いても同じ意味です。

##### `assign` の最大の特徴

「元のデータ（value_df）を直接いじらず、新しく作り替えたデータのコピーを作成する」という性質があります。だから、一番最初に value_df = と書いて、新しい自分自身で上書きしているわけです。

---
2. lambda の書き方の意味
なぜ単純に `df["value"]` と書かずに、`lambda df: df["value"]` と書く必要があるのでしょうか？

##### `df` はどこから来たのか？
この lambda の右側に書いてある df は、実は 「今、assign されている最中の value_df そのもの」 が自動的に代入されてきます。

##### もし `lambda` を使わなかったら？

```python
# これはエラーになるか、古いデータを参照してしまう
value_df.assign(value = value_df["value"].replace(...))
```

これだと、「assign が始まる前」の古い value_df を見にいってしまいます。

##### `lambda` を使うと何が良い？

```python
# これなら最新の自分を参照できる
value_df.assign(value = lambda df: df["value"].replace(...))
```

lambda を使うことで、Pandasが「はい、今のデータはこれだよ！」と df という器に中身を移して渡してくれます。 これにより、もしこの前に別の加工（例えば列の削除など）が済んでいたとしても、その「最新の状態」に対して加工を続けられるのです。

---

3. 全体の流れを会話にすると……
1. 左側 (value_df = value_df.assign) 「value_df 君、君のコピーを新しく作るよ。結果はまた自分自身に保存してね」
2. 中の辞書 ("value": ...) 「新しく作り直す列の名前は value にしよう」
3. ラムダ (lambda df: ...) 「今の君の姿を一時的に df と呼ぶね。その中の value 列を取り出して……」
4. 加工 (.replace().astype()) 「記号を消して、数値（小数）に変換してちょうだい」


---
##### なぜこのセットで書くのか（結論）

この書き方をすると、1つも「途中の変数（ゴミ）」を作らずに、元のデータを安全に最新の状態へアップデートできるからです。

最初は lambda df: df の部分を、「今まさに加工しているデータを捕まえておくための網（あみ）」 だと考えておけば、イメージが掴みやすいかもしれません！_

In [90]:
from typing import List, Dict, Union
def missing_to_nan(
        value: pd.DataFrame, 
        note: Union[Dict[str, str], List[Dict[str, str]]]
    ) -> pd.DataFrame:
    if isinstance(note, list):
        note_char = [n["@char"] for n in note]
    elif isinstance(note, dict):
        note_char = note["@char"]
    else:
        print(f"引数noteの型は辞書またはリスト。noteの型: {type(note)}")
        return value
    return value.assign(**{
        "value": lambda df: df["value"]
            .replace(note_char, np.nan)
            .astype(float)
    })

In [91]:
class_obj = data["GET_STATS_DATA"]["STATISTICAL_DATA"]["CLASS_INF"]["CLASS_OBJ"]
for co in class_obj:
    class_entries  = co["CLASS"]
    # "CLASS"はlistとdictの場合があります
    if isinstance(class_entries, list):
        cls_df = pd.DataFrame(class_entries)
    elif isinstance(class_entries, dict):
        cls_df = pd.DataFrame(pd.Series(class_entries)).T
    else:
        print("想定外のCLASS の型:", type(class_entries), "\nCLASS の値: ", class_entries)
        continue
    cls_df = (cls_df
        .set_index("@code")
        .rename(columns=lambda col: f"{co['@name']}{col.lstrip('@')}")
    )
    value_df = (value_df
        .merge(cls_df, left_on=co["@id"], right_index=True, how="left")
        .rename(columns={co["@id"]: f"{co['@name']}code"})
    )
value_df.columns

Index(['表章項目code', '用途分類code', '世帯区分code', '世帯主の年齢階級code', '地域区分code',
       '時間軸（月次）code', 'unit', 'value', '表章項目name', '表章項目level', '用途分類name',
       '用途分類level', '用途分類unit', '用途分類parentCode', '世帯区分name', '世帯区分level',
       '世帯主の年齢階級name', '世帯主の年齢階級level', '地域区分name', '地域区分level', '時間軸（月次）name',
       '時間軸（月次）level'],
      dtype='object')

In [92]:
attr_map = {"value": "値", "code": "コード", "name": "", "level": "階層レベル", 
    "unit": "単位", "parentCode": "親コード", "addInf": "追加情報", "tab": "表章項目", 
    "cat": "分類", "area": "地域", "time": "時間軸", "annotation": "注釈記号"  
}
def _convert(c):
    for k, v in attr_map.items():
        if k in c:
            return c.replace(k, v)
    return c
value_df = value_df.rename(columns=_convert)

In [93]:
value_df.head(1).T

                                     0
表章項目コード                             01
用途分類コード                            021
世帯区分コード                             04
世帯主の年齢階級コード                        A00
地域区分コード                          00000
時間軸（月次）コード                  2020000101
単位                                   円
値                             458814.0
表章項目                                金額
表章項目階層レベル
用途分類                             勤め先収入
用途分類階層レベル                            4
用途分類単位                               円
用途分類親コード                           020
世帯区分           二人以上の世帯のうち勤労者世帯（2000年～）
世帯区分階層レベル                            1
世帯主の年齢階級                            平均
世帯主の年齢階級階層レベル                        1
地域区分                                全国
地域区分階層レベル                            1
時間軸（月次）                        2020年1月
時間軸（月次）階層レベル                         1

#### 関数を用意する

In [94]:
from estat import (
    get_metainfo, 
    get_statsdata, 
    cleansing_statsdata, 
    colname_to_japanese, 
    create_hierarchy_dataframe
)

In [95]:
statsDataId = "0002070010"
meta = get_metainfo(appId, statsDataId)
medatdata = meta["GET_META_INFO"]["METADATA_INF"]
total_num = medatdata["TABLE_INF"]["OVERALL_TOTAL_NUMBER"]
total_num

3916136

In [96]:
%%time
data = get_statsdata(appId, statsDataId)
data["GET_STATS_DATA"]["STATISTICAL_DATA"]["RESULT_INF"]["NEXT_KEY"]

CPU times: total: 1.98 s
Wall time: 18.3 s

100001

In [97]:
%%time
dfs = []
dfs.append(colname_to_japanese(cleansing_statsdata(data)))
max_position = 500000
while "NEXT_KEY" in data["GET_STATS_DATA"]["STATISTICAL_DATA"]["RESULT_INF"]:
    # 10万件を超える場合、次のデータを取得するための開始位置を取得
    start_position = data["GET_STATS_DATA"]["STATISTICAL_DATA"]["RESULT_INF"].get("NEXT_KEY")
    print("NEXT_KEY: ", start_position)
    # 取得データが大きすぎる(max_iterationsを超える)場合は、取得の繰り返しを終了
    if start_position > max_position:
        break
    # 次のデータを取得し、DataFrameのリストに追加
    data = get_statsdata(appId, statsDataId, params={"startPosition": start_position})
    dfs.append(colname_to_japanese(cleansing_statsdata(data)))
    
# 取得したDataFrameを結合
df = pd.concat(dfs)
df.shape

NEXT_KEY:  100001
NEXT_KEY:  200001
NEXT_KEY:  300001
NEXT_KEY:  400001
NEXT_KEY:  500001
CPU times: total: 12.6 s
Wall time: 1min 5s

(500000, 22)

### p.106- 統計Dashboard API

- [e-Stat 統計ダッシュボード](https://dashboard.e-stat.go.jp/)
- [統計ダッシュボードWebAPI](https://dashboard.e-stat.go.jp/static/api)
- [利用規約](https://dashboard.e-stat.go.jp/static/terms)

In [11]:
# 1. 統計ダッシュボードAPIの「指標情報取得」用URLを指定
indicator_url = "https://dashboard.e-stat.go.jp/api/1.0/Json/getIndicatorInfo"

# 2. 検索条件を設定（「家計調査」という名前が含まれる指標を探す）
indicator_params = {"StatName": "家計調査"}

# 3. 指定したURLに条件を送ってデータを取得
indicator_res = requests.get(indicator_url, params=indicator_params)

# 4. 届いたデータをPythonで扱える辞書形式（JSON）に変換
indicator = indicator_res.json()

# 5. 階層を辿ってメタデータ（統計の付随情報）を取り出す
# [データの大きな塊] ＞ [メタ情報] と辿っている
indicator_metadata = indicator["GET_META_INDICATOR_INF"]["METADATA_INF"]

# 6. 分類情報（CLASS_INF）の中にある、最初の分類項目（0番目のCLASS_OBJ）を取得
indicator_classobj = indicator_metadata["CLASS_INF"]["CLASS_OBJ"][0]

# 7. その項目の「名前」と「コード」を表示して中身を確認
print(indicator_classobj["@name"], indicator_classobj["@code"])

二人以上の世帯　消費支出 0704010101000010000

In [ ]:
# 1. 実際の「統計数値」を取得するための窓口（URL）
data_url = "https://dashboard.e-stat.go.jp/api/1.0/Json/getData"

# 2. 指標コード（0704...：何かの支出項目）と、2020年以降という条件を指定
data_params = {"IndicatorCode": "0704010101000010000", "TimeFrom": "20200100"}

# 3. データを取得
data_res = requests.get(data_url, params=data_params)

# 4. JSON形式（辞書型）として読み込み
data = data_res.json()

# 5. 【ここがキモ】
# 非常に深い階層（DATA_OBJ：データの本体が入っているリスト）まで潜り、
# その中の「最初の2個だけ」を表示して中身をチラ見する
data["GET_STATS"]["STATISTICAL_DATA"]["DATA_INF"]["DATA_OBJ"][:2]

[{'VALUE': {'@indicator': '0704010101000010000',
   '@unit': '116',
   '@stat': '00200561',
   '@regionCode': '00000',
   '@time': '20200100',
   '@cycle': '1',
   '@regionRank': '2',
   '@isSeasonal': '1',
   '@isProvisional': '0',
   '$': '287173'}},
 {'VALUE': {'@indicator': '0704010101000010000',
   '@unit': '116',
   '@stat': '00200561',
   '@regionCode': '01100',
   '@time': '20200100',
   '@cycle': '1',
   '@regionRank': '4',
   '@isSeasonal': '1',
   '@isProvisional': '0',
   '$': '274960'}}]

In [ ]:
# forループは
# 「引き出し（DATA_OBJ）」の中から、
# 封筒（d）を1枚ずつ順番に取り出して、
# その封筒の中にある、"VALUE" という名前の付いた書類だけを抜き出して、
# 新しい名簿（リスト）として並べ直してね！
# と言う意味

data_df = pd.DataFrame(
    [d["VALUE"] for d in data["GET_STATS"]["STATISTICAL_DATA"]["DATA_INF"]["DATA_OBJ"]]
)
data_df = data_df.rename(
    columns=lambda col: col.lstrip("@").replace("$", "value")
)
data_df.head()

,indicator,unit,stat,regionCode,time,cycle,regionRank,isSeasonal,isProvisional,value
0,0704010101000010000,116,00200561,00000,20200100,1,2,1,0,287173
1,0704010101000010000,116,00200561,01100,20200100,1,4,1,0,274960
2,0704010101000010000,116,00200561,02201,20200100,1,4,1,0,243762
3,0704010101000010000,116,00200561,03201,20200100,1,4,1,0,270266
4,0704010101000010000,116,00200561,04100,20200100,1,4,1,0,295469

In [13]:
region_url = "https://dashboard.e-stat.go.jp/api/1.0/Json/getRegionInfo"
region_res = requests.get(region_url)
region = region_res.json()
region_dfs = []
region_co = region["GET_META_REGION_INF"]["METADATA_INF"]["CLASS_INF"]["CLASS_OBJ"]
for c in region_co:
    region_dfs += [pd.DataFrame(c["CLASS"])]
region_df = pd.concat(region_dfs)
region_df = region_df.rename(
    columns=lambda col: col.lstrip("@").replace("name", "地域")
)
region_df.tail()

  regionCode       地域 level hiragana fromDate  toDate
3      47374  (旧)伊良部村    13    いらぶそん   197206  198204
4      47374  (旧)伊良部町    12   いらぶちょう   198204  200510
5      47375     多良間村    13    たらまそん   197206  999912
0      47381      竹富町    12  たけとみちょう   197205  999912
1      47382     与那国町    12  よなぐにちょう   197205  999912

In [14]:
data_df = data_df.merge(region_df[["regionCode", "地域"]], on="regionCode", how="left")

In [ ]:
data_df = data_df.assign(**{
    "年":  lambda df: df["time"].astype(int) // 10000,
    "月":  lambda df: df["time"].str[4:6].astype(int),
    "年月": lambda df: pd.to_datetime(
        df["年"].astype(str) + "-" +
        df["月"].astype(str) + "-01"    # + "-01" で日付を付けているのはdatetime型にする関係
    )
})
data_df.head()

In [ ]:
# 年の取り方は // 10000 でなくて、月と同じように取ってきても良い。
data_df = data_df.assign(**{
    "年":  lambda df: df["time"].str[0:4].astype(int),
    "月":  lambda df: df["time"].str[4:6].astype(int),
    "年月": lambda df: pd.to_datetime(
        df["年"].astype(str) + "-" +
        df["月"].astype(str)            # + "-01" を付けなくてもdatetime型に変更するときにpandasが勝手に 01 を補ってくれる
    )
})
data_df.head()

,indicator,unit,stat,regionCode,time,cycle,regionRank,isSeasonal,isProvisional,value,地域,年,月,年月
0,0704010101000010000,116,00200561,00000,20200100,1,2,1,0,287173,全国,2020,1,2020-01-01
1,0704010101000010000,116,00200561,01100,20200100,1,4,1,0,274960,札幌市,2020,1,2020-01-01
2,0704010101000010000,116,00200561,02201,20200100,1,4,1,0,243762,青森市,2020,1,2020-01-01
3,0704010101000010000,116,00200561,03201,20200100,1,4,1,0,270266,盛岡市,2020,1,2020-01-01
4,0704010101000010000,116,00200561,04100,20200100,1,4,1,0,295469,仙台市,2020,1,2020-01-01

In [31]:
socialevent_url = "https://dashboard.e-stat.go.jp/api/1.0/Json/getSocialEventInfo"
socialevent_params = {"TimeFrom": "20200100"}
socialevent_res = requests.get(socialevent_url, params=socialevent_params)
socialevent = socialevent_res.json()
socialevent_df = pd.json_normalize(socialevent, 
    record_path=["GET_META_SOCIAL_INFO", "METADATA_INF", "CLASS_INF", "CLASS_OBJ"]
)
socialevent_df.drop("CLASS", axis=1)

   @code               @name @level @fromTime  @toTime
0  00089           令和２年７月豪雨等      2   2020年7月  2020年7月
1  00090  新型コロナウイルス感染症緊急事態宣言      3   2020年4月  2020年5月
2  00091  新型コロナウイルス感染症緊急事態宣言      3   2021年1月  2021年3月
3  00092  新型コロナウイルス感染症緊急事態宣言      3   2021年4月  2021年6月
4  00093  新型コロナウイルス感染症緊急事態宣言      3   2021年7月  2021年9月
5  00094      ロシアのウクライナ侵略始まる      3   2022年2月  2022年2月

In [32]:
socialevent_url = "https://dashboard.e-stat.go.jp/api/1.0/Json/getSocialEventInfo"
socialevent_params = {"TimeFrom": "20200100"}
socialevent_res = requests.get(socialevent_url, params=socialevent_params)
socialevent = socialevent_res.json()
socialevent_df = pd.json_normalize(socialevent, 
    record_path=["GET_META_SOCIAL_INFO", "METADATA_INF", "CLASS_INF", "CLASS_OBJ"]
)

# これも 全く同じ意味（列を指定して消す）になります
socialevent_df.drop(columns="CLASS")

   @code               @name @level @fromTime  @toTime
0  00089           令和２年７月豪雨等      2   2020年7月  2020年7月
1  00090  新型コロナウイルス感染症緊急事態宣言      3   2020年4月  2020年5月
2  00091  新型コロナウイルス感染症緊急事態宣言      3   2021年1月  2021年3月
3  00092  新型コロナウイルス感染症緊急事態宣言      3   2021年4月  2021年6月
4  00093  新型コロナウイルス感染症緊急事態宣言      3   2021年7月  2021年9月
5  00094      ロシアのウクライナ侵略始まる      3   2022年2月  2022年2月